                                        /*          REGLES GENERALES          */
body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
main {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}
.divFixFooter {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
.divFixFooterVoitures {
    min-height: 100%;
}
                                        /*          POLICE          */     
@font-face {
    font-family: "Liberation Serif";
    src: url("https://www.samiachbani.fr/mansoryfr/style/police/LiberationSerif-Regular.ttf");
}
.Liberation {
    font-family: "Liberation Serif", serif;
}

                                        /*     ---     PAGE QUELCONQUE     ---     */

                                        /*          HEADER          */
header{
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.nav-link {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.navbar-nav {
    margin-left: 3rem;
}
.nav-fill {
    width: 100%;
}
                                        /*          BODY          */
.breadcrumb {
    padding: 20px;
}
                                        /*          FOOTER          */
footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: white;
    /*background-color: #2B2B2A;*/
    background-color: black;
}
.lienFooter {
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}
.allLienFooter {
    font-size: 18px;
}
#lienFacebook:hover {
    color:  #3883fc;
}
#lienInsta:hover {
    color: #c83ae8;
}
#lienYtb:hover {
    color: #FF0000;
}
.lienReste:hover {
    color:#D4B170;
}
                                        /*     ---     PAGE ACCUEIL     ---     */
.titreCarousel {
    color: black;
}
.lienCarousel {
    text-decoration: none;
}
.titreContenuMilieu {
    padding-top: 10%;
}
.imgAccHover {
    transition: all 1s ease;
}
.imgAccHover:hover {
    transform:scale(1.20);
}
                                        /*     ---     PAGE A PROPOS DE NOUS     ---     */
.texteQui {
    line-height: 30px;
}
.videoPropos {
    text-align: center;
    height: 600px;
    margin-bottom: 500px;
}
                                        /*     ---     PAGE COMPARATEUR     ---     */
.comparGaucheEntier {
    margin-bottom: 30px;
}
.comparGauchePremier {
    border: 1px solid black;
}
.comparGauche {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}







.comparTitres {
    color: gray;
    padding-left: 20px;
}






.comparDroiteEntier {
    margin-bottom: 30px;
}
.comparDroitePremier {
    border: 1px solid black;
}
.comparDroite {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

                                        /*     ---     PAGE MARQUE     ---     */
.logoMarques {
    transition: all 1s ease;
}
.logoMarques:hover {
    transform:scale(1.20);
}
.nomMarques {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: black;
}
.catVoiture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
                                        /*     ---     PAGE MODELE DE MARQUE     ---     */
.btnModele {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: black;
}
.btnModeleMarque {
    border: 2px solid black;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 50;
}
.btnModeleMarque:hover {
    background-color: #D4B170;
}
.imgModeleHover {
    transition: all 1s ease;
}
.imgModeleHover:hover {
    transform:scale(1.20);
}
                                        /*     ---     PAGE VOITURE     ---     */
#modele {
    text-align: center;
}
                                        /*          TEXTE PRESENTATION          */
.titrePres {
    font-weight: 700;
}
#textePres {
    line-height: 25px;
}
                                        /*          CASES PERFORMANCES          */
.titreCaracteristiques {
    font-size: 40px;
}
.obj {
    height: 200px;
    width: 400px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.obj:hover {
    background-color: #D4B170;
}
.new {
    position: absolute;
    opacity: 0;
}
.old, .new {
    transition: opacity 0.5s linear;
}
.obj:hover .old {
    opacity: 0;
}
.obj:hover .new {
    opacity: 1;
}
.btnInfo {
    height: 60px;
    width: 230px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
}
.btnInfo:hover {
    background-color: #D4B170;
}
.btnInfoTxt {
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
.objpdf {
    height: 200px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: #D4B170;
}
.objpdf:hover {
    background-color: wheat;
}
                                        /*          CAROUSSEL-5-IMAGES           */
img{max-width:100%}
.target{display:none}
.slider-css-target {
    overflow-x: hidden;
    max-width: 800px;
    margin: auto;    
}
.slider-css-target ul {
    margin: 1rem .5rem;
    padding: 0;
    list-style-type:none;
    display:flex;
    justify-content: space-between;
    gap:.5rem;    
} 
.slider-css-target ul li a {
    display:block;    
    } 
.slider-css-target ul li img {
    display:block;
    max-width:100%;
    width:120px;
    height:100%;
    max-height:80px;
    border:2px solid white;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);    
}
.slider-css-target-images { 
    display: flex;
    width: 500%;
    will-change: transform;
    transition: transform .4s ease-in-out;
    position: relative;
    z-index: -5;
}
.slider-css-target-images img { 
    display:block;
    width:100%;
    height:auto;
    /*aspect-ratio:3/2;
    object-fit: cover;*/  
}
#photo2:target ~ .slider-css-target .slider-css-target-images {
    transform:translate3d(-20%,0,0);
}
#photo3:target ~ .slider-css-target .slider-css-target-images {
    transform:translate3d(-40%,0,0);
}
#photo4:target ~ .slider-css-target .slider-css-target-images {
    transform:translate3d(-60%,0,0);
}
#photo5:target ~ .slider-css-target .slider-css-target-images {
    transform:translate3d(-80%,0,0);
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
  }
                                        /*          VIDEO          */
.titreVideo {
    text-align: center;
    height: 600px;
    margin-bottom: 200px;
}
.video {
    width: 80%; 
    height: 130%;
}
                                        /*     ---     PAGE LOCALISATION     ---     */
.caseLoc{
    height: 110px;
    border: 2px solid black;
    margin: 20px;
    transition: 0.5s ease-in-out;
}
.caseLocLien {
    color: black;
    text-decoration: none;
}
.caseLoc:hover {
    background-color: #D4B170;
}
                                        /*     ---     PAGE LOCALISATION SPECIFIQUE     ---     */
.caseLocSpec {
    background-color: transparent;
    font-size: 20px;
    line-height: 50px;
}
                                        /*     ---     PAGE NOUS CONTACTER     ---     */
.etoiles {
    color: red;
}
                                        /*     ---     PAGE PLAN DE SITE     ---     */
.plan {
    line-height: 30px;
}
.titrePlan {
    font-weight: 700;
    padding-bottom: 10px;
    /* text-decoration: underline; */
}
.lienPlan{
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in-out;
}
.lienPlan:hover{
    color: #D4B170;
}
/*     ---     PAGE ERREUR 404    ---     */
.titre404 {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  
  .btn-1 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-1 a {
    text-decoration: none;
    border: 2px solid #010100;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
  }
  
  span {
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
  }
  
  /* Button 1 styles */
  
  .btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    /*100% plus double the times left values*/
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-1 a:hover::before{
    transform: scaleY(0);
  }
  
  .btn-1 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }
  /* Created by http://grohit.com/  */
  
  .btn-1 a:hover::after {
    transform: scaleX(0);
  }
  
                                        /*          MIN-WIDTH 360 PX     ---     MAX-WIDTH 465 PX          */
@media (min-width: 360px) and (max-width: 465px) {
    .nav-link {
        margin-left: 0rem;
        text-align: start;
    }
    #drapeauPos {
        margin-left: 0rem;
    }
    .imgAccueil {
        position: relative;
        padding-bottom: 50%;
    }
    .imgModele {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logoModele {
        padding-left: 17%;
    }
    .divFixFooterVoitures {
        min-height: 100%;
    }
    .video {
        width: 80%; 
        height: 50%;
    }
}
                                        /*          MIN-WIDTH 466 PX     ---     MAX-WIDTH 576 PX          */
@media (min-width: 466px) and (max-width: 576px){
    .nav-link {
        margin-left: 0rem;
        text-align: start;
    }
    #drapeauPos {
        margin-left: 0rem;
    }
    .imgAccueil {
        position: relative;
        padding-bottom: 50%;
    }
    .imgModele {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logoModele {
        padding-left: 25%;
    }
    .video {
        width: 80%; 
        height: 80%;
    }
}
                                        /*          MIN-WIDTH 360 PX     ---     MAX-WIDTH 576 PX          */
@media (min-width: 360px) and (max-width: 576px){
    .decouverte {
        padding-bottom: 200px;
    }
    .titreDecouverte {
        padding-top: 50%;
        font-size: 12px;
    }
    #paraDecouverte {
        font-size: 11px;
    }
    .savoir {
        font-size: 9px;
        color: black;
    }
}
                                        /*          MIN-WIDTH 577 PX     ---     MAX-WIDTH 992 PX          */
@media (min-width: 577px) and (max-width: 992px){
                                            /*          HEADER          */
    .navbar-brand {
        width: 75%;
        height: 50%;
    }
    .nav-link {
        margin-left: 0rem;
        text-align: start;
    }
    #drapeauPos {
        margin-left: 0rem;
    }
                                            /*     ---     PAGE ACCUEIL     ---     */
    .decouverte {
        padding-bottom: 400px;
    }
    .titreDecouverte {
        padding-top: 50%;
        font-size: 20px;
    }
    #paraDecouverte {
        font-size: 16px;
    }
                                            /*     ---     PAGE VOITURE     ---     */
    .titreVideo {
        height: 400px;
        margin-bottom: 70px;
    }
    .video {
        width: 80%; 
        height: 100%;
    }
    
    .logoModele {
        padding: 5%;
    }
    .divFixFooterVoitures {
        min-height: 100%;    
    }
}
                                        /*          MIN-WIDTH 360 PX     ---     MAX-WIDTH 992 PX          */
@media (min-width: 360px) and (max-width: 992px) {
    .nomMarques{
        font-size: 14px;
    }
    .navbar-nav{
        margin-left: 0;
    }
}
                                        /*          MIN-WIDTH 993 PX     ---     MAX-WIDTH 1200 PX          */
@media (min-width: 993px) and (max-width: 1200px){
    .nav-link {

        margin-left:-1rem;
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }
    #drapeauPos {
        margin-left: 0;
        margin-right: 1rem;
    }
}
                                        /*          MIN-WIDTH 1200 PX     ---     MAX-WIDTH 1400 PX          */
@media (min-width: 1200px) and (max-width: 1400px){
    .nav-link {
        margin-left:1.2rem;
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }
    #drapeauPos {
        margin-left: 0;
        margin-right: -1rem;
    }
}
                                        /*          MIN-WIDTH 992 PX     ---     MAX-WIDTH 1400 PX          */
@media (min-width: 992px) and (max-width: 1400px){
    .decouverte {
        padding-bottom: 500px;
    }
}
                                        /*          MIN-WIDTH 1400 PX     ---     MAX-WIDTH 1600 PX          */
@media (min-width: 1600px) and (max-width: 1800px){
    .nav-link {
        margin-left:5rem;
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }
    #drapeauPos {
        margin-left: 2rem;
        margin-right: -5rem;
    }
}
                                        /*          MIN-WIDTH 1700 PX     ---     MAX-WIDTH 2000 PX          */
@media (min-width: 1700px) and (max-width: 2000px){
    .decouverte {
        padding-bottom: 800px;
    }
}                                        
                                        /*          MIN-WIDTH 1800 PX     ---     MAX-WIDTH 2000 PX          */
@media (min-width: 1800px) and (max-width: 2000px){
    .nav-link {
        margin-left:7.5rem;
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }
    #drapeauPos {
        margin-left: 5rem;
        margin-right: -8rem;
    }
}